body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #ABA19F;
    font-family: Arial, Helvetica, sans-serif;
}

.border-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    background-color: #CAC2C1;
    border-radius: 25px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 575px;
    width: 375px;
    padding: 5px;
    margin: auto;
    border-radius: 25px;
    background-color: #7A7675;
    align-self: center;
    justify-self: center;
    
}

.solar {
    display: flex;
    height: 60px;
    width: 150px;
    background-color: #575352;
    margin: 20px;
    border-radius: 10px;
    align-self: flex-end;
}

.display {
    display: flex;
    flex-direction: column;
    background-color: #CAC2C1;
    width: 340px;
    height: 100px;
    margin-top: 15px;
    border-radius: 20px;
    align-self: center;
    justify-content: space-between;
}

.display p {
    margin: 10px;
    font-size: x-large;
}

.display #top {
    align-self: flex-end;
}

.display #bottom {
    align-self: flex-end;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0;
    gap: 5px;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.btn {
    border-radius: 5px;
    border: 0px;
}

.btn.number {
    width: 60px;
}

.btn.number,
#last,
#switch {
    height: 60px;
    background-color: #ABA19F;
    border: 0;
}


.btn.number:hover,
#last:hover,
#switch:hover {
    background-color: #A29897;
}

.btn.operator {
    background-color: #575352;
    border: 0;
}


#last {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn.del {
    background-color: #C69A96;
}

.btn.del:hover {
    background-color: #C88079;
}

.btn.ac {
    background-color: #9696C6;
}

.btn.ac:hover {
    background-color: #8585CC;
}

#dot,
#equal {
    background-color: #575352;
}

.btn.operator:hover,
#dot:hover,
#equal:hover {
    background-color: #D7D7D7;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-size: larger;   
}

.footer img {
    margin-left: 10px;
    width: 45px;
    height: auto;
    transition: all .2s ease-in-out;   
}

.footer img:hover {
    transform: scale(1.1); 
}